.kanban {
  display: inline-flex;
  padding: 30px;
  background: #848383;
  border-radius: 5px;
}

.kanban * {
  font-family: sans-serif;
  width: 250px;
}

.kanban__column {
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-right: 30px;
}

.kanban__column-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
  user-select: none;
}

.kanban__item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: #b7b7b7;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  cursor: pointer;
}

.kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 15px;
  background: #70bdd8;
}

.kanban__add-item {
  width: 250px;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  text-align: left;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kanban__add-item:hover{
  background: rgba(0, 0, 0, 0.3);
}